

<mat-toolbar color="primary">
  <button routerLink="home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon >menu</mat-icon>
  </button>
  <span>ARC</span> <br>

  <a mat-flat-button  routerLink="admin" color="primary">Admin</a>

  <a mat-flat-button  routerLink="user" color="primary">User</a>

  <a mat-flat-button  routerLink="parent" color="primary">Communication</a>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>







<router-outlet></router-outlet>