
<div class="bg">
    <br>
    <form action="">
        <mat-form-field class="parent">
              <label for="forparent">Parent Component</label>
             <input matInput #input type="text">
        </mat-form-field>
          <button (click)="senddatatoparent(input.value)" mat-raised-button color="primary" >Send to Child</button>
    </form>

    <div style="margin: auto">
        <h2>Message form Child => {{childmessage}}</h2>
    </div>
</div>
               
<div>
    <app-child [childreceiver]="parentmessage" (childsender)="getdatafromchild($event)" ></app-child>
</div>

<div class="bg" style="padding:5px">
    <h2> <label for="">One Way Data-Binding</label> {{interpol}}</h2>
</div>
<mat-divider></mat-divider>
<form action="" #fm>
    <mat-form-field>    
        <label> Property Binding </label>  <input matInput [hidden]="proname" />
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field> 
        <label> Event Binding </label>   <input matInput #event [hidden]="proname" />
    </mat-form-field>
    <button style="margin-left: 20px; margin-bottom: 5px;" mat-raised-button (click)="eventbind(event.value)" color="primary">Event Binding</button>
            <mat-form-field style="margin-left: 35%;">
                <label for="">Two-Way binding</label>
               <input matInput type="text" id="tw" name="twowaybinding" [(ngModel)]="twowaybind"> <br>  
            </mat-form-field> <br>
            <h4 style="margin-left: 35%;"> {{twowaybind}}</h4>
    <mat-divider></mat-divider>
   
</form>






